@keyframes logoScale {
    0%{
        text-shadow: 0 0 10px black;
        transform: scale(1);
    }50%{
         text-shadow: 0 0 50px black;
         transform: scale(1.05);
     }100%{
         text-shadow: 0 0 10px black;
         transform: scale(1);
     }
}
/*####################*/
/*fonts*/
.f-lunatic{
    font-family: 'Rubik Glitch', cursive;
    text-shadow: 0 0 10px black;
}

.f-lunatic.anim:hover{
    animation: logoScale 2s  ease-in-out forwards;
}

.f-lunatic.shadow-none{
    text-shadow: none;
}
/*####################*/
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
    max-width:100%;
    font-family: 'Roboto', sans-serif;
    font-size:.8em;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}
/*####################*/
.bg-1{
    background-color: #f3e9dcff;
}
.bg-2{
     background-color: #c08552ff;
}
.bg-3{
      background-color: #5e3023ff;
}
.bg-4{
    background-color:#895737ff;
}
.bg-5{
    background-color: #dab49dff;
}
.color-3{
    color: #5e3023ff!important;
}
.color-4{
    color:#895737ff;
}
/*header*/
.navbar{
    width: 100%;
    max-width: 100%;
}
.nav-link{
    font-size: 17px;
    color:#ffffff;
    font-weight: bold;

}
.date,.date a{
    color: rgb(192,133,82);
    display:inline;
    text-decoration: none;
    text-shadow: none;
}

.date:hover,.date a:hover{
    color:  #fff;
}
/*login*/
.btn-connexion{
    padding-left: .5rem;
    padding-right: .5rem;
}
.btn-connexion.add{
    height:43px;
}

.btn-connexion:hover{
    background: #c08552ff;
}
/*se souvenir*/
.form-check-input{
    background-color: rgba(192,133,82,.5);
    border-color: rgba(94,48,35,.5);
}.form-check-input:checked {
    background-color: #c08552ff;
    border-color: #5e3023ff;
}
 /*register*/
form[name='registration_form'] label{
    width:150px;
}

form[name='registration_form'] > ul{
    background: #b96e6c;
    padding: 1em 0;
    margin: -1.5em 0 2em;
}form[name='registration_form'] > ul > li{
    color: #fff;
     padding-left: 1em;
}

 .box-table{
    max-height:600px!important;
     width:95%;
     margin:auto;
     overflow-y: auto;
     scrollbar-color: #c08552ff #dab49dff ;
     scrollbar-width: thin;
     border-radius: 8px;
     padding:  0 5px;
     background: #dab49dff;
     border: 5px solid #dab49dff;
 }
body main .box-table table{
    background: #895737ff;
 }

.box-table table thead{
    position: sticky;
    top: 0;
    background-color: rgba(192,133,82,1);
 }

.box-table table thead tr{
    background-color: rgba(192,133,82,.5);
    color: #fff;
    position: sticky !important;
 }

.box-table table tr{
    background-color: #FFFFFF;
 }
.box-table table tr:nth-child(even) {
    background: #c08552ff;
    color: #fff;
}

form[name="search_ville"]{
    width:100%;
}

.tdSubmit button{
    min-height: 42.5px;
}